@font-face {
  font-family: "MyNerdFont";
  src: url("../fonts/0xProto/0xProtoNerdFont-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* POZADÍ: Zůstáváme u "Storm Blue" - je to skvělý kontrast k oranžové */
  --darkest: #1a1b26;
  --darkGrey: #24283b; /* Světlejší pozadí pro karty */

  /* TEXT: Jemná bílá, aby nerušila barvy */
  --white: #c0caf5;
  --black: #15161e;

  /* AKCENTY: Tady přichází OHEŇ */
  --accent: #ff9e64; /* "Safety Orange" - hlavní barva pro odkazy a rámečky */
  --accentHover: #db4b4b; /* "Brick Red" - pro hover stavy */

  /* DEKORACE */
  --dark: #4a1c1c; /* Tmavě rudá pro hluboké stíny */
  --light: #ffe5c7; /* Neonová červeno-růžová (Laser Red) */

  /* ZÁŘE: Oranžová záře jako stará elektronka */
  --glow-color: rgba(255, 158, 100, 0.5);

  background-color: var(--darkest);
  color: var(--white);

  font-family: "MyNerdFont", monospace;
}

body {
  text-shadow: 0 0 2px var(--glow-color);

  background-color: var(--darkest);

  /* Cyberpunk mřížka */
  background-image:
    linear-gradient(rgba(42, 195, 222, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(42, 195, 222, 0.05) 1px, transparent 1px);

  background-size: 40px 40px; /* Velikost čtverečků */
  background-position: center top;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accentHover);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--darkGrey);
  padding-left: 2em;
  padding-right: 2em;
}

.navbar {
  font-size: large;
}

.navigation {
  display: flex;
  gap: 2em;
  border-bottom: var(--dark) solid 0.3em;
  padding-bottom: 0.5em;
}

.content {
}

.personalPhoto {
  max-width: 40em;
  box-shadow: var(--dark) 5px 5px;
}

.photoGallery {
  border-top: var(--accent) solid 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 2em;
  padding-top: 1em;
}

.grid-photo {
  position: relative;
  overflow: hidden;
  padding-bottom: 0.3em;
  padding-right: 0.3em;
}

.galleryPhoto {
  max-width: 23.9em;
  box-shadow: var(--dark) 1em 1em;
  object-fit: cover;
  display: block;
}

.info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15em;
  background-color: var(--dark);
  transform: translateY(105%);
  transition: transform 0.3s ease-in-out;
  padding: 1em;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

dt,
dd {
  margin: 0;
}

dt {
  font-size: 0.7rem;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0.05em;
}

dd {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em;
}

.grid-photo:hover .info-box {
  transform: translateY(0);
}
